:root {
    color-scheme: light dark;
    --header-footer-text-color: #ffffff;
    --header-footer-background-color: #303030;

    --normal-text-color: #202020;
    --normal-background-color: #f8f8f8;

    --article-header-border-color: #202020;

    --link-unvisited-color: #3f9fdf;
    --link-visited-color: #a0a0a0;
    --link-hover-color: #ff0000;
}
[data-theme="dark"] {
    color-scheme: light dark;
    --header-footer-text-color: #ffffff;
    --header-footer-background-color: #303030;

    --normal-text-color: #e0e0e0;
    --normal-background-color: #202020;

    --article-header-border-color: #e0e0e0;

    --link-unvisited-color: #3f9fdf;
    --link-visited-color: #909090;
    --link-hover-color: #ff0000;
}


body {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--normal-text-color);
    background-color: var(--normal-background-color);
}



/********** header **********/
header {
    color: var(--header-footer-text-color);
    background: var(--header-footer-background-color);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 1em 0em 1em 0em;
    margin-bottom: 2em;
}

header h1 {
    font-size: 1.75em;
}

header p {
    font-size: 0.75em;
}

header a {
    color: inherit;
    text-decoration: none;
}



/********** link colors **********/
a {
    color: var(--link-unvisited-color);
    text-underline-offset: 0.2em;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}



/********** main **********/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: var(--normal-text-color);
    background-color: var(--normal-background-color);
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
}

div #face {
    margin-right: 1.5em;
    float: left;
}



/********** article **********/
article {
    margin-bottom: 0.5em;
}

article dl dd {
    margin-top: 0em;
    margin-left: 1.5em;
    margin-bottom: 0.75em;
}

article h2 {
    font-weight: normal;
    border-bottom: 2px solid var(--article-header-border-color);
}

article a:link {
    color: var(--link-unvisited-color);
}

article a:visited {
    color: var(--link-visited-color);
}

article a:hover {
    color: var(--link-hover-color);
}



/********** footer **********/
footer {
    background: var(--header-footer-background-color);
    color: var(--header-footer-text-color);
    line-height: 2em;
    font-size: 0.8em;
    text-align: center;
    padding: 4em 0em 2em 0em;
    margin-top: 4em;
    width: 100%;
}

footer div.ip-version-banner img {
    height: 24px;
}

footer ul.other-site-navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.5em 0 1.5em 0;
}

footer ul.other-site-navigation li {
    display: inline;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

footer ul.other-site-navigation img {
    width: 24px;
    height: 24px;
}

footer p {
    line-height: 1.5em;
}
